{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold text-center mb-4">HOD Login</h2>

<div class="card shadow p-4 mx-auto" style="max-width:450px;">
    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" required class="form-control mb-3">

        <label>Password</label>
        <input type="password" name="password" required class="form-control mb-4">

        <button class="btn btn-success w-100">Login</button>
    </form>
</div>

{% endblock %}
