{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold mb-4 text-primary">All Meetings</h2>

<table class="table table-bordered table-hover shadow">
    <thead class="table-primary">
        <tr>
            <th>Staff</th>
            <th>HOD</th>
            <th>Date</th>
            <th>Time</th>
            <th>Agenda</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for m in meetings %}
        <tr>
            <td>{{ m.staff.name }}</td>
            <td>{{ m.hod.name }}</td>
            <td>{{ m.date }}</td>
            <td>{{ m.time }}</td>
            <td>{{ m.agenda }}</td>
            <td><span class="badge bg-secondary">{{ m.status }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
